<div class="upload-section">

  <div class="input-group category-selector mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="methodGroupSelect">
        Testing Method
      </label>
    </div>
    <select class="custom-select" id="methodGroupSelect"
      name="methodSelector" [(ngModel)]="selectedTestingMethod"
      (ngModelChange)="onSelectChange(selectedTestingMethod)"
    >
      <option selected [ngValue]="null">Choose...</option>
      <option *ngFor="let option of testingMethods.sort()" [value]="option">
        {{option}}
      </option>
    </select>
  </div>
  <div class="uploaders-container">
    <div class="d-flex flex-row justify-content-center upload-row">
      <app-dropzone-uploader class="upload-item"
         [hostname]="HOSTNAME"
         [message]="'Select or drop .apk file'"
         [path]="'/file-upload/apk'"
         [ext]="'.apk'"
         [clear]="clear"
         (filename)="onFilenameUpdate($event, 0)">
      </app-dropzone-uploader>
      <app-dropzone-uploader *ngIf="methodSelected('Monkeyrunner')"
         class="ml-3 upload-item"
         [hostname]="HOSTNAME"
         [message]="'Select or drop monkeyrunner .txt file'"
         [path]="'/file-upload/monkeyrunner'"
         [ext]="'.txt'"
         [clear]="clear"
         (filename)="onScriptUpdate($event, 0)">
      </app-dropzone-uploader>
    </div>
    <div *ngFor="let row of additionalUploadRows; index as i; trackBy: trackByFn"
      class="d-flex flex-row justify-content-center upload-row">
      <app-dropzone-uploader class="upload-item"
         [hostname]="HOSTNAME"
         [message]="'Select or drop .apk file'"
         [path]="'/file-upload/apk'"
         [ext]="'.apk'"
         [clear]="clear"
         (filename)="onFilenameUpdate($event, i+1)">
      </app-dropzone-uploader>
      <app-dropzone-uploader *ngIf="methodSelected('Monkeyrunner')"
         class="ml-3 upload-item"
         [hostname]="HOSTNAME"
         [message]="'Select or drop monkeyrunner .txt file'"
         [path]="'/file-upload/monkeyrunner'"
         [ext]="'.txt'"
         [clear]="clear"
         (filename)="onScriptUpdate($event, i+1)">
      </app-dropzone-uploader>
      <div class="minus-sign">
        <i class="fas fa-minus"></i>
        <div class="minus-clickable" (click)="removeRow(i)"></div>
      </div>
    </div>
    <div class="plus-sign">
      <i class="fas fa-plus" (click)="addRow()"></i>
    </div>
  </div>
  <div class="input-group category-selector">
    <div class="input-group-prepend">
      <label class="input-group-text" for="categoryGroupSelect">Category</label>
    </div>
    <select class="custom-select" id="categoryGroupSelect"
      name="categorySelector" [(ngModel)]="selectedCategory"
      (ngModelChange)="onSelectChange(selectedCategory)"
    >
      <option selected [ngValue]="null" disabled>Choose...</option>
      <option [ngValue]="null" disabled>---Specific Categories---</option>
      <option *ngFor="let option of specificCategories.sort(); index as i"
        [ngValue]="i">
        {{option}}
      </option>
      <option [ngValue]="null" disabled>---General Categories---</option>
      <option *ngFor="let option of generalCategories.sort(); index as i"
        [ngValue]="i+specificCategories.length">
        {{option}}
      </option>
    </select>
  </div>
  <div class="d-flex">
    <button type="button" class="btn btn-primary custom-button"
      (click)="onClearButtonClick()">Clear</button>
    <button type="button" class="btn btn-primary custom-button"
      [disabled]="isDisabled()"
      (click)="onUploadButtonClick()">Submit</button>
  </div>
  <div class="loader" *ngIf="showLoadingIcon" id="loader">
    Calculating energy rating. Please wait...
    <app-spinner></app-spinner>
  </div>
</div>
