<div class="upload-section">

  <div class="input-group category-selector mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="methodGroupSelect">
        Testing Method
      </label>
    </div>
    <select class="custom-select" id="methodGroupSelect"
      name="methodSelector" [(ngModel)]="selectedTestingMethod"
      (ngModelChange)="onSelectChange(selectedTestingMethod)"
    >
      <option selected [ngValue]="null">Choose...</option>
      <option *ngFor="let option of testingMethods.sort()" [value]="option">
        {{option}}
      </option>
    </select>
  </div>

  <app-dropzone-uploader
     [hostname]="HOSTNAME"
     [message]="'Select or drop .apk file'"
     [path]="'/file-upload/apk'"
     [ext]="'.apk'"
     [clear]="clear"
     (filename)="onFilenameUpdate($event)">
  </app-dropzone-uploader>
  <app-dropzone-uploader *ngIf="methodSelected('Monkeyrunner')" class="mt-3"
     [hostname]="HOSTNAME"
     [message]="'Select or drop monkeyrunner .txt file'"
     [path]="'/file-upload/monkeyrunner'"
     [ext]="'.txt'"
     [clear]="clear"
     (filename)="onScriptUpdate($event)">
  </app-dropzone-uploader>
  <div class="input-group category-selector">
    <div class="input-group-prepend">
      <label class="input-group-text" for="categoryGroupSelect">Category</label>
    </div>
    <select class="custom-select" id="categoryGroupSelect"
      name="categorySelector" [(ngModel)]="selectedCategory"
      (ngModelChange)="onSelectChange(selectedCategory)"
    >
      <option selected [ngValue]="null">Choose...</option>
      <option *ngFor="let option of categories.sort(); index as i" [value]="i">
        {{option}}
      </option>
    </select>
  </div>
  <div class="d-flex">
    <button type="button" class="btn btn-primary custom-button"
      (click)="onClearButtonClick()">Clear</button>
    <button type="button" class="btn btn-primary custom-button"
      [disabled]="isDisabled()"
      (click)="onUploadButtonClick()">Submit</button>
  </div>
  <div class="loader" *ngIf="showLoadingIcon" id="loader">
    Calculating energy rating. Please wait...
    <app-spinner></app-spinner>
  </div>
</div>
