<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Aeon Logo" src="assets/aeon.png"/>
  <h2>Please upload an apk and select testing method</h2>
  <app-uploader (data)="onData($event)" (hideData)="onHideData($event)"></app-uploader>
  <div *ngIf="showData">
    <div class="chart-section d-flex">
      <app-pie-chart [data]="hardwareData" [title]="'Hardware Costs'"></app-pie-chart>
      <app-pie-chart [data]="apiData" [title]="'API Costs'"></app-pie-chart>
    </div>
    <div class="rating-container" id="rating">
      Your app's rating: {{ rating }}
    </div>
  </div>
</div>
