<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Aeon Logo" src="assets/aeon.png"/>
  <h2>Please upload an apk and select testing method</h2>
  <app-uploader (data)="onData($event)" (hideData)="onHideData($event)"
    [HOSTNAME]="HOSTNAME"></app-uploader>
  <div *ngIf="showData">
    <app-tabbed-content [tabHeaders]="tabs" (switchTabEvent)="onSwitchTab($event)">
      <div *ngFor="let tab of tabs; index as i" [id]="i" class="tabcontent"
      [ngClass]="{'active': isActiveTab(i)}">
        <app-results [resultsData]="tab" [HOSTNAME]="HOSTNAME"></app-results>
      </div>
    </app-tabbed-content>
  </div>
</div>
