.chart-section {
  align-items: center;
  justify-content: center;
}

.total-energy {
  font-size: 2rem;
  font-weight: 600;
}

.rating-container {
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.clear-button {
  width: 12rem;
  margin: 2rem;
}

.rating-A {
  color: #4FBA47;
}

.rating-B {
  color: #FDF302;
}

.rating-C {
  color: #FBBB0C;
}

.rating-D {
  color: #F37019;
}

.rating-E {
  color: #EE151F;
}
