.chart-section {
  align-items: center;
  justify-content: center;
}

.rating-container {
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.clear-button {
  width: 12rem;
  margin: 2rem;
}
